.register_contaner {
  align-items: center;
  height: fit-content;
  display: flex;
  justify-content: center;
  background-color: #F8F8F8;

}

.sigupinput {
  height: 100%;
}

.inputGrop {
  display: grid;
}

.register_maindiv {
  border-radius: 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px;
  box-shadow: rgba(121, 120, 120, 0.1) 0px 5px 15px;
  background-color: rgb(255, 255, 255);
  width: 900px;
  height: 600px;
}

.sigupdivimg {
  display: grid;
}

form {
  height: 50vh;
  width: 100%;
}


form label {
  margin: 15px;
  width: 100%;
  font-weight: bold;
}

form input {
  width: 80%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

form button {
  margin: 25px;
  width: 30%;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

form button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.login .error {
  color: red;
  margin-top: 10px;
}


@media only screen and (max-width: 600px) {
  
  .register_maindiv {
    border-radius: 25px;
    display: block;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
    box-shadow: rgba(121, 120, 120, 0.1) 0px 5px 15px;
    background-color: rgb(255, 255, 255);
    width: 900px;
    height: 600px;
  }
  .register_contaner {
  }
  }