.free_Shipping {
    height:100%;
    padding: 30px;
    border: 1px solid rgb(202, 198, 198);
    align-items: center;
    text-align: center;
    justify-content: center;
}

.free_Shipping_contaner {
    align-items: center;
    text-align: center;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(150px, 1fr));
    gap: 20px;
}

.free_Shipping img {
    padding-bottom: 30%;
    width: 100%;
}

.free_Shipping_h1 {
    background-color: #FDDDE4;
    padding: 3px;
    border-radius: 7px;
}

.free_Shipping_h2 {
    background-color: #D1E8F2;
    padding: 3px;
    border-radius: 7px;
}

.free_Shipping_h3 {
    background-color: #CDEBBC;
    padding: 3px;
    border-radius: 7px;
}

.free_Shipping_h4 {
    background-color: #CDD4F8;
    padding: 3px;
    border-radius: 7px;
}

.free_Shipping_h5 {
    background-color: #F6DBF6;
    padding: 3px;
    border-radius: 7px;
}

.free_Shipping_h6 {
    background-color: #FEF1E4;
    padding: 3px;
    border-radius: 7px;
}

/* 
@media only screen and (max-width:1024px) {
    .free_Shipping_contaner {
        display: grid;
        row-gap: 15px;
        grid-template-columns: repeat(4, 1fr);
    }
}

@media only screen and (max-width:900px) {
    .free_Shipping_contaner {
        display: grid;
        grid-template-columns:repeat(2,1fr);
    }

}

@media only screen and (max-width:480px) {
    .free_Shipping_contaner {
        display: grid;
        grid-template-columns:repeat(1,1fr);
    }

} */